/* elements */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff/* #f2f1d5 */;
  padding:0;
  margin:0;
  color: #222;
  font-family: 'Times New Roman', 'Times', serif;
  line-height: 1.4em;
}

a:link {
  color: #336699;
  text-decoration: none;
}
a:visited {
  color: #660000;
  text-decoration: none;
}
a:hover {
  color: #336699;
  text-decoration: underline;
}

a img { border-width: 0; }

blockquote {
  border-left: 1px solid #222;
  line-height: 18px;
  font-size: 11pt;
  font-style: italic;
  margin: 20px;
  padding-left: 10px;
}


pre{
  border: solid 0px #ccc;
  padding: 2px 2px 2px 20px;
  margin: 0px 0px 10px 0px;
  overflow:auto;
  background: #eee;
  background-color: #F5F2F0;
  color:#004080;
  font-family:Consolas "Courier New" Fixedsys;
}
.code{}
.longcode{
  height: 200px;
}
.console{
  background: #000;
  color: #ccc;
  font-family:"Verdana";
}


h1, h2, h3, h4, h5, #footer {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

h1 {
  font-size: 40px;
  line-height: 36px;
  margin-bottom: 18px;
}

h2 {
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #993300;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
  color: #4a884e;
}

h4 {
  font-size: 19px;
  line-height: 21px;
  margin-bottom: 11px;
  color: #414482;
}

h5 {
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #a17d80;
}

li { margin-bottom: 4px; }

p, ul, ol { margin-bottom: 18px; }

ul, ol {
  margin-left: 2em;
}

ul { list-style-type: square; }

/* html5 */
header, footer, nav, article { display: block; }

/* classes */
.book-cover {
  float: left;
  margin-right: 10px;
}

.fusiontext a, .fusiontext a:hover, .fusiontext a:visited {
  color: #222;
  text-decoration: none;
}

.post {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
}

.post p {
  font-size: 13pt;
  line-height: 26px;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
}

/* ids */
#search-box {
  margin-top: 10px;
  padding: 0px 0px 0px 10px;
}


#fusionad {
  float: right;
  margin: 75px 200px 0 10px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 10pt;
  text-align: center;
  width: 150px;
}

#intro {
  color: #3B496E;
  font-size: 16pt;
  margin-bottom: 24pt;
  margin-top: 24pt;
}

#subtitle, #title { color: #3f9116; }

#subtitle {
  font-size: 24pt;
}

#title {
  font-size: 32pt;
}

#wrapper {
  width: 950px;
  margin:0 auto;
}

#header {
  padding: 20px 10px 0px 0px;
}

#main {
  float: left;
  width: 680px;
  padding: 10px;
}

#sidebar {
  float: right;
  width: 200px;
  padding-top: 50px 5px 5px 5px;
  background: #fff6ed;
}

#footer {
  font-size: 14pt;
  clear: both;
  padding: 0px 0px 30px  10px;
}

#prenext {
  text-align: left;
}

#selfintro {
  padding: 60px 0px 20px 10px;
  text-align: left;
}
