<div>
	<a href="/atom.xml" title="RSS Feed"  target="_blank"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/william-wang-45499b2b" target="_blank"> <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> </a>
	<a href="https://github.com/villim" target="_blank"> <i class="fa fa-github fa-lg" aria-hidden="true"></i> </a>
	<a href="https://twitter.com/villim" target="_blank"> <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> </a>
	<a href="https://www.facebook.com/villimw" target="_blank"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> </a>
	<br/>
	<a href="http://stackoverflow.com/users/807911/villim?tab=profile" target="_blank"> <i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i> </a>
	<a href="http://instagram.com/villim" target="_blank"> <i class="fa fa-instagram fa-lg" aria-hidden="true"></i> </a>
	<a href="http://weibo.com/villimw" target="_blank"> <i class="fa fa-weibo fa-lg" aria-hidden="true"></i> </a>
	<a href="https://www.douban.com/people/villim/" target="_blank"> <i class="fa fa-user-o fa-lg" aria-hidden="true"></i> </a>
	<a href="/wechat.html" target="_blank"> <i class="fa fa-weixin  fa-lg"></i> </a> 
</div>
