<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The online writing of Villim Wong" name="description" />
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/css/pygmentize.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Villim Wong - Atom" href="/atom.xml" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>{{ page.title}}  &mdash; Villim</title>
  </head>
  <body>
    <div id="wrapper">

			<div id="header">
				<h1 id="title">
					<a href="/" title="Home" color="#3f9116">From 0 To 1</a> by <a href="/about.html" title="About">Villim</a>
				</h1>
				<h2 id="subtitle">
					pickup crumbs on the endless road
				</h2>
			</div>

			<div id="sidebar">
				<form id="search-box"  class="navbar-form navbar-right" role="search" action="http://google.com/search" method="get">
					<input type="hidden" name="q" value="site:villim.github.io">
						<input type="text" class="form-control" placeholder="Search" name="q">
					<button type="submit" class="btn btn-default">Search</button>
				</form>     
				<div id="selfintro">
					<img src="{{site.baseurl}}img/My.header.400.png"  height=150 width=150/>
					<h2 id="subtitle"><br/>I think,<br/><br/> therefore<br/><br/>I am.</h2>
					{% include social.html %}
				</div>
			</div>

			<div id="main">
			{{ content }}
			</div>

      <div id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
				<a href="/announcement.html" title="announcement">Announcement</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a>

    </div>
  </body>
</html>
